.navbar {
    background: rgba(197, 90, 48, 0.4) !important;
  }
  .navbar .navbar-brand {
    font-weight: bolder;
    color: #af6d36;
    font-size: 1.3em;
    margin-left: 5%;
  }
  .nav-item {
    margin-left: 30px;
  }
  #reserve {
    font-family: 'Sarabun', sans-serif;
    font-weight: 700;
    color: #b0c442;
    border: solid #ffffff;
    border-radius: 50px;
    margin-right: 50px;
    margin-left: 100px;
  }
  .navbar .nav-item a {
    font-family: 'Sarabun', sans-serif;
    font-weight: 700;
    color: #000000;
    font-weight: bolder;
    display: block;
    position: relative;
    -webkit-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
  }
