img {
  max-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  object-fit: cover;
  object-position: 50% 50%;
  position: relative;
}

/* div.container {
  background-image: url(../../images/pizza.jpg);
} */
.pad-bottom-10 {
  padding-bottom: 10px;
}

footer {
  text-align: center;
}

#info {
  margin-left: 300px;
  margin-right: 300px;
  font-weight: 600;
}